@font-face {
  font-family: "IranSansDn";
  src: url("@/assets/fonts/iransansdn-100.woff2") format(".woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IranSansDn";
  src: url("@/assets/fonts/iransansdn-400.woff2") format(".woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IranSansDn";
  src: url("@/assets/fonts/iransansdn-700.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "IranSansDn", sans-serif;
}
